:root {
  --bg: white;
  --text: #111;
  --card: #f4f4f4;
}

body.dark {
  --bg: #111;
  --text: #f4f4f4;
  --card: #1e1e1e;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: var(--bg);
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Projects */
.project {
  background: var(--card);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
